/Factor of 0.5 in off-diagonal derivatives.png
/Sacado_data-type.png
/Sacado_data-type.svg
/Sacado_data-type_1_2_derivatives.png
/Sacado_data-type_1_2_derivatives.svg
/overview_of_examples.png
/overview_of_examples.svg
